---
layout: default
title: My Learning Note
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
{% include sippet.html %}
{% endfor %}
<a id="back-to-top" href="#" class="active">^</a>
<!-- Pagination links -->
<div class="pagination">
    <div id="post-pagination" class="pagination">
        {% if paginator.previous_page %}
        <span class="previous">
        {% if paginator.previous_page == 1 %}
        <a href="/">Previous</a>
        {% else %}
        <a href="{{ site.url }}/{{ paginator.previous_page_path }}">Previous</a>
        {% endif %}
        </span>
        {% else %}
        <span class="previous disabled">Previous</span>
        {% endif %}
        
        
        {% if paginator.page == 1 %}
        <span class="current-page">1</span>
        {% else %}
        <a href="{{ site.url }}">1</a>
        {% endif %}
            
        {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <span class="current-page">{{ count }}</span>
            {% else %}
            <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
            {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <span class="next">
        <a href="{{ site.url }}/{{ paginator.next_page_path }}">Next</a>
        </span>
        {% else %}
        <span class="next disabled">Next</span>
        {% endif %}
    </div>
</div>