body {
	font-size:14px;
	color:#000000;
	background-color:#ffffff;
	font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

header {
	padding:.5em 0;
	border-bottom: 1px solid #cccccc;
}

footer {
	padding:.5em 0;
	font-size:0.8em;
}

nav {
	width:9em;
	float:left;
	font-size:1.4em;
	text-align:right;
	margin-left:-12em;
	text-transform:uppercase;
	font-family:"Electrolize",sans-serif;
}

nav a{
	display:block;
	color:#000000;
	padding:.7em 1em;
	border-radius:5px;
	text-decoration:none;
}

nav a:hover{
	color:#f9f9f9;
	text-align:center;
	text-decoration:none;
	background-color:#ff0000;
}

#container {
	width:600px;
	margin:2em auto;
	display:block;
	padding:0 2em;
}

.content {
	font-size:12px;
	line-height:24px;
}

.content img {
	max-width:600px;
	display:block;
	margin:4px auto;
	box-shadow:#999 1px 1px 4px;
}

.content a {
	color:#dd0000;
	text-decoration:none;
}

.content a:hover {
	color:#999;
	text-decoration:none;
	border-bottom:1px dashed #bbb;
}
