body {
	width:780px;
	margin:0 auto;
	font-size:14px;
	color:#000000;
	background-color:#ffffff;
	font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

#sidebar {
	height: 100%;
	width: 150px;
	float: left;
	position: fixed;
	font-size:1.4em;
	text-align:right;
	padding-top: 6em;
	text-transform:uppercase;
	border-right: 1px dashed #c7c7c7;
	font-family:"Electrolize",sans-serif;
}

#sidebar a{
	display:block;
	color:#000000;
	padding:.7em 1em;
	border-radius:5px;
	text-decoration:none;
}

#sidebar a:hover{
	color:#f9f9f9;
	font-weight:600;
	text-align:center;
	text-decoration:none;
	background-color:#b9221f;
}

#main {
	height:auto;
	width:600px;
	float:right;
	margin:2em auto;
	padding-right:30px;
}

#main header {
	font-size:40px;
	font-weight:800;
	line-height:60px;
	padding:10px 30px;
	border-bottom: 1px solid #cccccc;
}

footer {
	padding-left:30px;
	margin-top:50px;
}

footer p {
	color:#999;
	text-align:left;
}


#main p {
	font-size:12px;
	line-height:24px;
}

#main img {
	max-width:600px;
	display:block;
	margin:4px auto;
	box-shadow:#999 1px 1px 4px;
}

#blog-index {
	padding:8px 0;
}

#blog-index article {
	padding-left:30px;
}

#blog-index header {
	margin:0;
	line-height:30px;
	padding-left:25px;
	border-left:#b9221f solid 5px;
}

.pagination {
	padding-left:30px;
}

h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}