*{
	padding:0;
	margin: 0;
	border:none;
	outline:none;
}

body {
	margin:0 15%;
	font-size:14px;
	color:#000000;
	line-height: 1.8em;
	background:url(../images/bg.gif) 0 0 repeat fixed;
	font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
}

#sidebar {
	height:100%;
	width:19%;
	float:left;
	font-size:1.4em;
	text-align:right;
	padding-top:5em;
	text-transform:uppercase;
	background-color:#ffffff;
	border-right:1px dashed #c7c7c7;
	font-family:"Electrolize",sans-serif;
}

#main {
	height:100%;
	width:80%;
	float:right;
	padding:10px 10px 10px 0;
	background-color:#ffffff;
}

#sidebar a{
	display:block;
	color:#000000;
	padding:.7em 3em .7em 1em;
	border-radius:5px;
	text-decoration:none;
}

#sidebar a:hover{
	color:#f9f9f9;
	font-weight:600;
	text-align:center;
	text-decoration:none;
	background-color:#b9221f;
}

#main header {
	font-size:40px;
	font-weight:800;
	line-height:60px;
	padding:10px 30px;
}

footer {
	padding-left:30px;
	margin-top:50px;
}

footer p {
	color:#999;
	text-align:center;
}


#main p {
	font-size:13px;
	text-align:justify;
}

#main img {
	max-width:550px;
	display:block;
	margin:4px auto;
	box-shadow:#999 1px 1px 4px;
}

#blog-index {
	padding:8px 0;
}

#blog-index article {
	padding:10px 0 30px 30px;
	padding-bottom:30px;
	border-bottom:1px dashed #c7c7c7;
}

#blog-index .title {
	line-height:30px;
	padding-left:25px;
	margin-top:10px;
	border-left:#b9221f solid 5px;
}

a {
	color:#b9221f;
	text-decoration:none;
}

a:hover {
	color:#999;
	text-decoration:none;
	border-bottom:1px dashed #c7c7c7;
}

.pagination {
	padding-left:30px;
}

.post {
	padding:10px 0 30px 30px;
	padding-bottom:50px;
	border-bottom:1px dashed #c7c7c7;
}

.post .tags {
	padding:5px 0;
}

.post .meta {
	text-align:right;
	padding:5px 5px;
	font-size:10px;
}

.post .prev-next {
	float:left;
	width:100%;
	margin:15px 0;
	font-size:13px;
}

.post .prev-next a {
	color:#999;
	text-decoration:none;
}

.post .prev-next a:hover {
	border:0;
	color:#999;
	text-decoration:underline;
}

.post .prev-next .left {
	display:block;
	float:left;
}

.post .prev-next .right {
	display:block;
	float:right;
}

.post ol {
	padding-left:30px;
}

#blog-index  ol {
	padding-left:30px;
}

h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;line-height: 2.8em;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;line-height: 2.6em;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;line-height: 2.4em;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.0em;color:#333;line-height: 2.2em;}