<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author}}"/>
  <meta name="keywords" content="Elan Wang | 王坚"/>
  <meta name="description" conetnt="Elan Wang | 王坚 | Machine Learning | Artificial Intelligence | Algorithm"/>
  <link rel="stylesheet" type="text/css" href="/note/style/common.css">
  <link rel="stylesheet" type="text/css" href="/note/style/highlight.css">
  <link rel="stylesheet" type="text/css" href="/note/style/note.css">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    "HTML-CSS": {
	  linebreaks: { automatic:true }
	},
	tex2jax: {
	  inlineMath: [['$','$']],
	  displayMath: [ ['$$','$$']],
	  processEscapes: true,
	  processEnvironments: true
	}
  });
  </script>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  {% include google_analytics.html %}
</head>
