<article>
  <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
  <section class="meta">
    <span class="author">
      {% if post.author %}
      <a href="{{ post.author-url }}">{{ post.author }}</a>
	  {% else %}
	  <a href="https://github.com/elan2wang">{{ site.author }}</a>
	  {% endif %}
    </span>
    <span class="time">
      <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
    </span>
  </section>
  <section>
    {{ post.content }}
  </section>
</article>