<html>
<head>
  <meta charset="utf-8">
  <title>Elan Wang | 王坚</title>
  <meta name="author" content="Elan Wang | 王坚"/>
  <link rel="stylesheet" type="text/css" href="/note/style/common.css">
  <link rel="stylesheet" type="text/css" href="/note/style/highlight.css">
  <link rel="stylesheet" type="text/css" href="/note/style/note.css">
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  MathJax.Hub.Config({
	tex2jax: {
	  inlineMath: [['$','$']],
	  displayMath: [ ['$$','$$'],['\\[','\\]']]
	}
  });
  </script>
</head>

<body>
  <div id="sidebar">
    <a href="{{ site.base }}/">HOME</a><a href="{{ site.url }}/">NOTE</a>
  </div>
  <div id="main">
    <header>{{ page.title }}</header>
    <div class="content">
    {{ content }}
    </div>
    {% include footer.html %}
  </div>
</body>