---
layout: default
---
<section class="tags">
{% if page.tags %}
  {% for tag in page.tags %}
  <span class="tag"><a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a></span>
  {% endfor %}
{% endif %}
</section>

<section class="content">
  {{ content }}
</section>

<section class="meta">
    <span class="author">
      <a href="https://github.com/elan2wang">{{ site.author }}</a>
    </span>
    <span class="time">
      <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
    </span>
</section>
