---
layout: default
---
<div class="post">
    <!-- post tags -->
    <section class="meta">
      {% if page.tags %}
        {% for tag in page.tags %}
        <span class="label">{{ tag }}</span>
        {% endfor %}
      {% endif %}
      <span class="label label-important">
        {% if page.author %}
          <a href="{{ page.author-url }}">{{ page.author }}</a>
        {% else %}
          <a href="https://github.com/elan2wang">{{ site.author }}</a>
        {% endif %}
      </span>
      <span class="label label-info">
        <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
      </span>
    </section>
    
    <!-- post content -->
    <section class="content">
      {{ content }}
    </section>
    
    <section class="pre-next">
      {% if page.previous.url %}
      <a class="basic-alignment left" href="{{ site.url }}/{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="basic-alignment right" href="{{ site.url }}/{{page.next.url}}" title="next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </section>
</div>
